In [1]:
import pandas
from sklearn import tree
from sklearn.model_selection import train_test_split
import pydotplus
from sklearn import svm
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, classification_report, confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.tree import DecisionTreeClassifier, export_graphviz
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg

In [2]:
df = pandas.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
d1 = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(d1)
d2 = {'C': 0, 'Q': 1, 'S': 2}
df['Embarked'] = df['Embarked'].map(d2)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket     Fare Cabin  Embarked
0        0         A/5 21171   7.2500   NaN       2.0
1        0          PC 17599  71.2833   C85       0.0
2        0  STON/O2. 3101282   7.9250   NaN       2.0
3        0            113803  53.1000  C123       2.0
4        0            373450   8.0500   NaN       2.0
..     ...               ...      ...   ...       ...
886      0            211536  13.0000   NaN       2.0
887      0            112053  30.0000   B42       2.0
888      2        W./C. 6607  23.4500   NaN       2.0
889      0            111369  30.0000  C148       0.0
890      0            370376   7.7500   NaN       1.0

[891 rows x 12 columns]

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
features = ['Sex', 'Age', 'SibSp','Embarked','Pclass']
X = df[features]

In [6]:
y = df['Survived']

In [7]:
X.fillna(0, inplace=True)
y.fillna(0, inplace=True)

C:\Users\Xiomara Ordo√±ez\AppData\Local\Temp\ipykernel_3780\1045576195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.fillna(0, inplace=True)

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
print(X, y, sep='\n\n')

     Sex   Age  SibSp  Embarked  Pclass
0      0  22.0      1       2.0       3
1      1  38.0      1       0.0       1
2      1  26.0      0       2.0       3
3      1  35.0      1       2.0       1
4      0  35.0      0       2.0       3
..   ...   ...    ...       ...     ...
886    0  27.0      0       2.0       2
887    1  19.0      0       2.0       1
888    1   0.0      1       2.0       3
889    0  26.0      0       0.0       1
890    0  32.0      0       1.0       3

[891 rows x 5 columns]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64